<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact</title>
</head>

<center>
	<h1>Upload a file!</h1>
	<!--<object height="950" data="/static/download/meinkampf.pdf" type="application/pdf" width="860">
<!--	<li><a href="{%url 'index' %}">Home</a></li> -->
	{% include 'local/upload.html' %}
<!--	<object height="950" data="/static/download/meinkampf.pdf" type="application/pdf" width="860"> -->
</center>

<body class="body" style="background-color:#ccffcc">
<div>

</div>
</html>
