<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome</title>
	<meta charset="utf-8" />
</head>

<body class="body" style="background-color:#ccffcc">

	<center>
	<img src="/static/img/img.jpg" class="responsive-img" style='max-height:100px;'>
	<div>
		<h2><span style="color:#ff0000;">B</span><span style="color:#ff7f00;">i</span><span style="color:#ffff00;">g</span><span style="color:#80ff00;"> </span><span style="color:#00ff00;">G</span><span style="color:#00ffff;">
		a</span><span style="color:#0000ff;">y</span><span style="color:#8b00ff;">!</span>
		</h2>
	</div>

	<img src="/static/img/oats.jpg">

	<div>
		<audio controls loop>
		<source src="/static/sound/oats.mp3" type="audio/mpeg">
		</audio>
		<!--	<embed src="/static/sound/oats.mp3" autoplay="False" loop="True"></embed> -->
	</div>


	<div>
		<li><a href='/contact/'>Contact</a></li>
	   {% block content %}
	   {% endblock %}
	</div>
</body>

</html>
